
# The following redirect is intended for use with most SPAs that handle
# routing internally.
[[redirects]]
from = "/*"
to = "https://admin.airbridgedev.com/:splat"
status = 200
force = true
headers = { X-From = "Netlify" }
[[headers]]
for = "/*"
[headers.values]
Access-Control-Allow-Origin = "*"
